<html lang="en">
  <head>
  <title>{{title}}</title>
  
  <link rel ='stylesheet' href='stylesheets/style.css' />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="/js/moment.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
  <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

  <script type="text/javascript">

    function validateForm() {
      var okay = $("#name").val().trim().length && $("#email").val().trim().length && moment($("#date").val()).isValid();
      $('#sendawardbutton').prop("disabled", !okay);
      $('#previewawardbutton').prop("disabled", !okay);
    }

    $(function () {
      $('#datetimepicker1').datetimepicker();
    });


    $(document).ready(function()
    {
      $("#date").val(moment().format("MM/DD/YYYY h:mm A"));
      validateForm();

      //sendemail
      // $('#sendawardbutton').click(function() {

      //   console.log("sendawardbutton clicked");

      //   var name = $("#name").val();

      //   var email = $("#email").val();

      //   var awardtype = $("#awardtype").val(); //DOESNT WORK <<<<

      //   var date = $("#date").val(); //DOESNT WORK <<<<

      //   console.log("name is: " + name);

      //   console.log("email is: " + email);

      //   console.log("awardtype is: " + awardtype);

      //   console.log("date is: " + date);

      //   var httpRequest = new XMLHttpRequest();
      
      //   if (!httpRequest) 
      //   {
      //     alert('Giving up : Cannot create an XMLHTTP instance');
      //     return false;
      //   }
      
      //   httpRequest.open('POST', '/sendemail', true);

      //   httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      //   httpRequest.send("name="+name+"&email="+email+"&awardtype="+awardtype+"&date="+date);


      // }); 



      // $('#sendawardbutton').click(function() {

      //   console.log("sendawardbutton clicked for database");

      //   var name = encodeURIComponent($("#name").val());
      //   var email = encodeURIComponent($("#email").val());
      //   var awardtype = encodeURIComponent($("#awardtype").val());
      //   var date = moment($("#date").val()).format("X");

      //   console.log("name is: " + name);

      //   console.log("email is: " + email);

      //   console.log("awardtype is: " + awardtype);

      //   console.log("date is: " + date);

      //   var httpRequest = new XMLHttpRequest();
      
      //   if (!httpRequest) 
      //   {
      //     alert('Giving up : Cannot create an XMLHTTP instance');
      //     return false;
      //   }
      
      //   httpRequest.open('POST', '/addaward', true);

      //   httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      //   httpRequest.send("name="+name+"&email="+email+"&awardtype="+awardtype+"&date="+date);


      // }); 

      $('#previewawardbutton').click(function() {
        var name = encodeURIComponent($("#name").val());
        var email = encodeURIComponent($("#email").val());
        var awardtype = encodeURIComponent($("#awardtype").val());
        var date = moment($("#date").val()).format("X");
        window.open("/award-preview?name=" + name + "&awardtype=" + awardtype + "&date=" + date, "_self");
      })

      var httpRequest = new XMLHttpRequest();
      
      if (!httpRequest) 
      {
          alert('Giving up : Cannot create an XMLHTTP instance');
          return false;
      }
      
      // httpRequest.onreadystatechange = function(){
      
      //   if (httpRequest.readyState === XMLHttpRequest.DONE) 
      //   {

      //     if (httpRequest.status === 200) 
      //     {
          
      //       //alert(httpRequest.responseText); //if its json you call JSON parse to get a json object which is same as javascript object
      //       var arr = JSON.parse(httpRequest.responseText);
            
      //       $("#awardtable").empty();  //POINTERX
           
      //       //var examplefirstname = "examplefirstname";
      //       //var examplelastname = "examplelastname";
           
           
      //       for(i = 0; i < arr.length; i++)
      //       {
      //         $("#awardtable").append("<tr>" + "<th scope=row>" + arr[i].class + "</th>" +  "<td>" + arr[i].recipient + "</td>" + "<td>" + arr[i].email + "</td>" + "<td>" + arr[i].granted + "</td>" + "<td><button type=\"button\" class=\"btn btn-default tabledeletebutton\" userid=\"" + arr[i].id + "\"  id=\"tabledeletebutton\" >Delete</button></td>" +  "</tr>");
      //       }
           
      //       $(".tabledeletebutton").click(function() {

      //         console.log("tabledeletebutton clicked");
             
      //         var id;
             
      //         id = $(this).attr("userid");
             
      //         console.log("userid is: " + id);
             
             
             
      //         var httpRequest = new XMLHttpRequest();
      
      //         if (!httpRequest) 
      //         {
      //           alert('Giving up : Cannot create an XMLHTTP instance');
      //           return false;
      //         }
      
      //         httpRequest.open('POST', '/deleteaward', true);

      //         httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

      //         httpRequest.send("awardid="+id);

   
    

      //       });
           

           

            
      //      //$("#usertable").append("<th scope=row>" + arr[i].id + "</th>" +  "<td>" + arr[i].username+ "</td>");
            
      //      /* 
      //                 <th scope="row">1</th>
      //     <td>Mark</td>
      //     <td>Otto</td>
      //     <td>@mdo</td>
      //     <td>button</td>
      //     <td>button</td>
      //     */
            
      //       console.log(">>>" + arr[0].username);
            
      //     } 
      
      //     else 
      
      
      //     {
      
      //       alert('There was a problem with the request.');
       
      //     }
          
      //   }
        
      // }


      
      httpRequest.open('POST', '/retrieveawardlist', true);
      
      httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      
      httpRequest.send();
      
      

    });







    //}); //.ready()

    


  </script>
  </head>


  <body>
  
    <h1>{{title}}</h1>

    <p>Logged in as: {{user}}</p>

    <div class="btn-group" role="group" aria-label="...">
      <a href="/logout"><button type="button" class="btn btn-default">Log Out</button></a>
      <a href="/userSettings"><button type="button" class="btn btn-default">User Settings</button></a>
      <a href="/chart"><button type="button" class="btn btn-default">Chart</button></a>

      
    </div>
    
    <h2>Create Award:</h2>
    <div class="panel panel-default">

    <div class="panel-body">
    <form class="form-horizontal" action="/sendaward" method="post">
      <div class="form-group">
        <label class="control-label col-sm-3" for="name">Recipient name:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="name" id="name" onKeyup="validateForm()" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="email">Recipient email:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="email" id="email" onKeyup="validateForm()" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="awardtype">Award type:</label>
        <div class="col-sm-9">
          <select class="form-control" name="awardtype" id="awardtype">
            {{#each classes}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="date">Date:</label>
        <div class="col-sm-9">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" name="date" id="date" onKeyup="validateForm()" required />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-default" id="previewawardbutton">Preview Award</button>
        <button type="submit" class="btn btn-primary" id="sendawardbutton">Send Award</button>
        </div>
    </form>
    </div>
    </div>
    
    
    <h2> Sent Awards: </h2>
        <div class="panel panel-default">

    <div class="panel-body">
    <table class="table" >
      <thead>
        <tr>
          <th>Type</th>
          <th>Recipient</th>
          <th>Email</th>
          <th>Date</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="awardtable">
        {{#each entries}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.recipient}}</td>
            <td>{{this.email}}</td>
            <td>{{moment this.granted input="X" format="MM/DD/YYYY h:mm A"}}</td>
            <td><a href="/award-preview?name={{this.recipient}}&awardtype={{this.class}}&date={{this.granted}}" type="button" class="btn btn-default">View</button></td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
    </div>

  </body>
<html>