<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
  
    <h1>{{title}}</h1>

    <p><a href="/logout">Log Out</a></p>
    <p><a href="/administration?show=awards">All Awards</a></p>
    <p><a href="/administration?show=admins">Admin Accounts</a></p>

    <h2>User Management</h2>
    <p>
      <a href="/createuser">Create User</a>
    </p>
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="" method="get" class="form-inline">
          <input type="hidden" name="show" value="users">
          <div class="form-group">
          <label class="control-label" for="division">Filter by division:</label>
          <select name="division" class="form-control">
            <option value="0"></option>
            {{#each divisions}}
            <option value="{{this.id}}" {{#if this.selected}}selected="selected"{{/if}}>{{this.name}}</option>
            {{/each}}
          </select>
          </div>
          <div class="form-group">
          <label class="control-label" for="department">Filter by department:</label>
          <select name="department" class="form-control">
            <option value="0"></option>
            {{#each departments}}
            <option value="{{this.id}}" {{#if this.selected}}selected="selected"{{/if}}>{{this.name}}</option>
            {{/each}}
          </select>
          </div>
          <button type="submit" name="submit" value="submit" class="btn btn-primary">Filter</button>
          <button type="submit" name="submit" value="csv" class="btn btn-default">Download as CSV</button>
        </form>
      </div>
    </div>

    <div class="panel-body">
      <table class="table" >
        <thead>
          <tr>
            <th>Sender</th>
            <th>Email</th>
            <th>Division</th>
            <th>Department</th>
            <th>Awards sent</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="awardtable">
          {{#each users}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.division}}</td>
              <td>{{this.department}}</td>
              <td>{{this.count}}</td>
              <td><a href="/edituser?id={{this.id}}" type="button" class="btn btn-default">Edit</button></td>
              <td>
                <form action="/deleteuser" method="post" style="margin: 0px;">
                  <input type="hidden" name="userid" value="{{this.id}}">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </body>
<html>